/* <--.navbar{--->
padding: 20px
font-family: didot; serif;
color: #000000
background: #339999} */

.media-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #4A4646
    background: seashell
}